<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Random Dice Home</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/style.css'>
    
</head>

<body>
    <H1>Hello Random Dice</H1>

    <form action="/" method="POST">

        <input type="number" min = "1" name = "valeurMax" id="valeurMax">
        <input type="submit" name = "BpValider" value="OK">
    
    </form>

    <h1>Nombre de faces du dé {{ valeur_max }}</h1>
    <br>
    <h1>resultat du lancé de dé {{ valeur_a_afficher }}</h1>

    <form action="/lancer" method="post">
        <input type="submit" name = "BpLancer" value="lancer">
    </form>
    

</body>

</html>