{% extends 'index.html' %}



{% block head %}
   

{% endblock %}


{% block body %}

    <H1>Hello Random Dice</H1>
  
    <form action="/logout" method="POST">

        <input type="submit" name = "BpLogout" value="LOGOUT">
    
    </form>

    
    <form action="/" method="POST">

        <input type="number" min = "1" name = "valeurMax" id="valeurMax">
        <input type="submit" name = "BpValider" value="OK">
    
    </form>

    <h1>Nombre de faces du dé {{ valeur_max }}</h1>
    <br>
    <h1>resultat du lancé de dé {{ valeur_a_afficher }}</h1>

    <form action="/lancer" method="post">
        <input type="submit" name = "BpLancer" value="lancer">
    </form>
    

{% endblock %}

