{% extends 'index.html' %}



{% block head %}
   

{% endblock %}



{% block body %}


<form action="/validerNouveauCompte" method="POST">
    <h3>login</h3>
    <input type="text" min = "8" name = "login" id="login">
    <br>
    <h3>mot de passe</h3>
    <input type="text" min = "8" name = "mdp" id="mdp">
    <br>
    <h3>confirmation mot de passe</h3>
    <input type="text" min = "8" name = "mdp2" id="mdp2">
    <br>
    <br>
    <input type="submit" name = "BpValider" value="VALIDER">

</form>



{% endblock %}
